<mat-toolbar>
    <div class="logo-container">
        <img src="../../assets/HuntersMark.svg" alt="Bloodborne Logo" class="icon" />
      </div>
    <span class="spacer"></span>
    <button id="home-button" mat-button routerLink="home" routerLinkActive="active-link">Faq</button>
    <button id="home-button" mat-button routerLink="home" routerLinkActive="active-link">Github</button>
    <button id="home-button" mat-button routerLink="home" routerLinkActive="active-link">Donate</button>
    <button id="home-button" mat-button routerLink="home" routerLinkActive="active-link">Login</button>
</mat-toolbar>
