<mat-toolbar>
  <div class="logo-container" routerLink="/home" style="cursor: pointer;">
    <img src="../../assets/HuntersMark.svg" alt="Bloodborne Logo" class="icon" draggable="false"/>
  </div>
    <span class="spacer"></span>
    <button id="home-button" mat-button routerLink="home" routerLinkActive="active-link">Faq</button>
    <button id="home-button" mat-button routerLink="home" routerLinkActive="active-link">Support</button>
    <button id="home-button" mat-button routerLink="home" routerLinkActive="active-link">Donate</button>
    <div *ngIf="loginService.isLoggedIn()" class="vertical-divider"></div>
    <button *ngIf="loginService.isLoggedIn()" 
            id="home-button" 
            mat-button 
            routerLink="/dashboard" 
            routerLinkActive="active-link">
      Dashboard
    </button>
    <button *ngIf="!loginService.isLoggedIn()" 
            id="home-button" 
            mat-button 
            (click)="openLoginDialog()">
      Login
    </button>
    <button *ngIf="loginService.isLoggedIn()" 
            id="home-button" 
            mat-button 
            (click)="logout()">
      Logout
    </button>
</mat-toolbar>