mat-toolbar {
    @font-face {
        font-family: 'Fleshandblood';
        src: url('/assets/Fleshandblood-MVA5x.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    background-color: #141414;
    height: 70px;
    position: fixed; /* Make it fixed */
    top: 0; /* Stick to top */
    left: 0; /* Stick to left */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays on top of other content */
    margin: 0;
    transition: background-color 0.3s ease;

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .icon {
        height: 100%;
        max-height: 65px;
        width: auto;
        transition: filter 0.2s ease-in-out;
        filter: drop-shadow(0 0 0 #84C0C6);

        &:hover {
            filter: 
                drop-shadow(0 0 4px #84C0C6)
                drop-shadow(0 0 8px #84C0C6)
                drop-shadow(0 0 12px #84C0C6);
        }
    }

    .logo-text {
        color: white;
        font-family: 'Fleshandblood', sans-serif;
        padding-top: 45px;
        font-size: 35px;
    }

    .spacer {
        flex-grow: 1;
    }

    button {
        font-family: 'Fleshandblood', sans-serif;
        color: #84C0C6;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; /* Center text */
    }

    button:hover {
        background-color: #232323;
    }

    .vertical-divider {
        height: 30px; // Adjust height as needed
        width: 1px;
        background-color: #84C0C6; // Using your theme color
        margin: 0 15px; // Adjust spacing as needed
        opacity: 0.5; // Makes it slightly subtle
    }
}