<div class="dashboard-container">
    <div id="dashboard">
        <div id="upload-card-container">
            <div id="instructions-upload-card">
                <h3 id="upload-save-text">Bloodborne Save Info</h3>
                <p id="upload-save-desc">You must decrypt the save file before you can edit it. Unless you are using a save from ShadPS4.</p>
            </div>
            <div id="upload-card">
                <img src="../../assets/upload-logo.svg" alt="upload-icon" class="uploadsvg" />
                <h3 id="upload-save-text">Upload Save</h3>
                <p id="upload-save-desc">upload userdata0000 file here</p>
            </div>
        </div>
    </div>
</div>
