<div class="signup-container">
    <button mat-icon-button class="close-button mobile-only" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
    
    <h2>Signup</h2>
    <form [formGroup]="signupForm">
      <mat-form-field appearance="fill" class="signup-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="username" placeholder="Enter your email" />
        <mat-error *ngIf="signupForm.get('username')?.errors?.['required']">
          Email is required
        </mat-error>
        <mat-error *ngIf="signupForm.get('username')?.errors?.['email'] || signupForm.get('username')?.errors?.['pattern']">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="signupForm.get('username')?.errors?.['duplicateEmail']">
          {{signupForm.get('username')?.errors?.['duplicateEmail']}}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="signup-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password" />
        <mat-error *ngIf="signupForm.get('password')?.errors?.['passwordStrength']">
          {{signupForm.get('password')?.errors?.['passwordStrength']}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="signup-field">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="password2" placeholder="Confirm your password" />
        <mat-error *ngIf="signupForm.get('password2')?.errors?.['passwordMismatch']">
          Passwords does not match
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="signup-btn" 
              [disabled]="!signupForm.valid || isLoading" 
              (click)="signup()">
        <span *ngIf="!isLoading">Signup</span>
        <mat-spinner *ngIf="isLoading" diameter="20" class="spinner"></mat-spinner>
      </button>
      <button mat-raised-button color="primary" class="signup-btn" 
              type="button" 
              (click)="openSigninDialog()">Back to Login</button>
    </form>
</div>  