<div id="home-container">
    <div id="img-banner-container">
        <img src="../../assets/BB-Banner-OG.jpg" alt="Bloodborne Banner Image" class="uploadsvg" />
        <div class="vignette-overlay"></div>

        <div id="title-container">
            <img src="../../assets/BB-Text-Logo.png" alt="BB-Text-Logo" class="BB-Text-Logo" />
        </div>

        <div id="socials-container">
            <div id="github-container">
                <img src="../../assets/github-logo.svg" alt="github-icon" class="github-icon" />
                <p class="social-handles">MaliceKy</p>
            </div>
            <div id="x-container">
                <img src="../../assets/x-social-media.svg" alt="x-social-media-icon" class="x-social-media-icon" />
                <p class="social-handles">MaliceKy</p>
            </div>
        </div>

    </div>
</div>